<p id="notice"><%= notice %></p>

<p>
  <strong>Productdescription product:</strong>
  <%= @product_description.ProductDescription_Product %>
</p>

<%= link_to 'Edit', edit_product_description_path(@product_description) %> |
<a name="" id="" class="btn btn-secondary btn-block back" href="#" role="button">cancel</a>
