<h2><i class="fas fa-user-lock"></i> Vendor Documentation</h2>

<div class="form-group">
<div class="form-label-group">
  <%= text_field_tag 'vendor_documentation', nil, placeholder: 'Vendor Reference', class: "form-control vendor_documentation", required: "required" %>
  <label for="name">vendor documentation</label>
</div>
</div>