<h2><i class="fas fa-user-lock"></i> Vendor Reference</h2>


<div class="form-group">
<div class="form-label-group">
  <%= text_field_tag 'vendor_reference', nil, placeholder: 'Vendor Reference', class: "form-control vendor_reference", required: "required" %>
  <label for="name">vendor_reference</label>
</div>
</div>