<div class="clearfix">
<div class="float-right">
<%= form_tag({controller: controller}, method: :get) do %>
<p class="search"><%= text_field_tag :search, params[:search], placeholder: "Search by Name", class: "form-control", :autocomplete => :off %>
<%= submit_tag 'Search', name: nil, class: "btn btn-primary waves-effect waves-light" %>
<%= link_to "Clear Search", request.path, class:"cancel-button" %>
</p>
<% end %>
</div>
</div>